.LotteryBall {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: tomato;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
}